body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  margin: 1.25rem;
  opacity: 0.85;
  /* padding: 0px; */
}
.card:hover{
  opacity: 1;
  cursor: pointer;
}
.card .card-title.h5{
  opacity: 1;
}

#course-cards {
  padding: 20px;
  text-align: center;
}

#home-page-btns {
  float: right;
  padding: 2%
}

#course-page {
  padding: 1%
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  padding-top: 1%;
  top: 0;
  right: 0;
  background-color: lightblue;
  text-align: center;
}